/* .forgotPasswordContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 20px;
}

.loginBox {
    width: 100%;
    max-width: 410px;
    border-radius: 12px;
    padding: 40px 30px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
    background: white;
} */

.forgotPasswordContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding: 20px;
}

.loginBox {
    background: white;
    border-radius: 16px;
    padding: 40px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    transition: transform 0.3s ease;
}

.loginBox:hover {
    transform: translateY(-5px);
}

.loginBox p {
    font-size: larger;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.6;
}

/* در forgot-password.module.css */

/* دکمه فعال */
.activeBtn {
    display: inline-block;
    width: 100%;
    padding: 14px 24px;
    background-color: #007bff;
    /* آبی پررنگ */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 20px;
}

.activeBtn:hover {
    background-color: #0056b3;
    transform: translateY(-1px);
}

/* دکمه غیرفعال */
.disabledBtn {
    display: inline-block;
    width: 100%;
    padding: 14px 24px;
    background-color: #a0d2ff;
    /* آبی کمرنگ */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    cursor: not-allowed;
    opacity: 0.7;
    margin-top: 20px;
}

/* input */
.inputField {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 1rem;
}

.inputField:focus {
    outline: none;
    border-color: #007bff;
}

.loginBox input {
    width: 100%;
    padding: 14px 24px;
    border: 1px solid #6dcbef;
    border-radius: 6px;
}

.loginBox input:focus {
    border: 1px solid #ddd;
    /* همون رنگ عادی */
    outline: none;
    /* بازم تایید کن */
    box-shadow: none;
    border-color: #007bff;
}