.ai_header{
    font-size: 35px;
    font-weight: 700px;
}

.imageContainer{
    max-width: 1000px;
    /* width: 500px;
    height: 300px; */
    vertical-align: middle;
    border: 0;
    margin: 40px 99px;
}

.update {
    font-size: 11px;
    color: gray;
    border-bottom: 1px solid #807e7e;
    margin-bottom: 35px;
    margin-top: -11px;
}

.content p,
.content li{
    font-size: var(--cds-font-size-title2);
    font-family: var(--cds-font-family-source-sans-pro)
Source Sans Pro,Arial,sans-serif
;
    font-weight: var(--cds-font-weight-400);
    letter-spacing: var(--cds-letter-spacing-125);
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 35px;
}