.slider {
    width: 625px;
    height: 315px;
    margin: auto;
    margin-top: 40px;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
    position: relative;
    background: 0 0;
    transition: 0.7s ease-in;
}